body {

    margin: 0;
    background-color: #D2D5DA;
    
}
 

@media screen and (min-width: 1025px){

    .titulo1 {

        display: grid;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        background-color: #FFF;
    
    }
    
    h3 {
    
        margin-top: 50px;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
    
    }
    
    .container {
    
        background-color: #F8FAFC;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10%;
    
    }
    
    a {
    
        color: #4E80EE;
        text-decoration: none;
    
    }
    
    .p1 {
    
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        display: grid;
        place-items: left;
        margin-left: 15%;
        margin-right: 15%;
        border-bottom: 1px solid #000;
        
    
    }
    
    .p2 {
    
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        display: grid;
        place-items: left;
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 30px;
        
    }

}


@media screen and (min-width: 641px) and (max-width: 1024px){

    .titulo1 {

        display: grid;
        place-items: center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        background-color: #FFF;
    
    }
    
    h3 {
    
        margin-top: 50px;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
    
    }
    
    .container {
    
        background-color: #F8FAFC;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 100px;
    
    }
    
    a {
    
        color: #4E80EE;
        text-decoration: none;
    
    }
    
    .p1 {
    
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        display: grid;
        place-items: left;
        margin-left: 15%;
        margin-right: 15%;
        border-bottom: 1px solid #000;
        
    
    }
    
    .p2 {
    
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        display: grid;
        place-items: left;
        margin-left: 15%;
        margin-right: 15%;
        
    }

}

@media screen and (max-width: 640px){

    .titulo1 {

        display: grid;
        place-items: center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        background-color: #FFF;
    
    }
    
    h3 {
    
        margin-top: 50px;
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 24px;
    
    }
    
    .container {
    
        background-color: #F8FAFC;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 100px;
    
    }
    
    a {
    
        color: #4E80EE;
        text-decoration: none;
    
    }
    
    .p1 {
    
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        display: grid;
        place-items: left;
        margin-left: 15%;
        margin-right: 15%;
        border-bottom: 1px solid #000;
        
    
    }
    
    .p2 {
    
        font-family: "Inter", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        display: grid;
        place-items: left;
        margin-left: 15%;
        margin-right: 15%;
        
    }

}
